{% extends "base.html.twig" %}

{% block title %}formulaire pays
{% endblock %}

{% block body %}

	<div class="text-center">
		<h1 class="h4 text-gray-900 mb-4">Modifier un Pays!</h1>
	</div>
    {% include "_formpays.html.twig" %}

{% endblock %}