{% extends 'base.html.twig' %}

{% block title %}Edit Loyer{% endblock %}

{% block body %}
    <h1>Edit Loyer</h1>

    {{ include('loyer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_loyer_index') }}">back to list</a>

    {{ include('loyer/_delete_form.html.twig') }}
{% endblock %}
