{% extends 'base.html.twig' %}

{% block title %}New Loyer{% endblock %}

{% block body %}
    <h1>Create new Loyer</h1>

    {{ include('loyer/_form.html.twig') }}

    <a href="{{ path('app_loyer_index') }}">back to list</a>
{% endblock %}
